# Ignore the build directory
/build/

# Ignore object files
*.o

# Ignore binary files
*.exe
*.out
*a
minishell

# Ignore log files
*.log

# Ignore the .vscode directory
.vscode/

# Ignore other IDE specific files
*.idea/
*.json

# Ignore valgrind files
*.supp